/* From uiverse.io by @alexruix */
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
   }
   
   .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
   }
   
   .input::placeholder {
    color: #9e9ea7;
   }
   
   .input:focus, input:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
   }
   
   .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
   }
   
/* add button */

button {
    width: 40px;
    height: 40px;
    bottom: 40px;
    right: 40px;
    background-color: #09a5f3a2;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    border: #09a5f3a2;
    transition: 0.5s;
    margin-left: auto;
    margin-top: 5px;
  }
  
  button:hover {
    transform: scale(1.1);
  }
  
  button:active {
    background-color: #09a5f3;
  }

.addIcon {
    margin-bottom: 13px;
}


/* cart animation*/
.cart:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
/* remember to add the modal */


/* Css to de categorias */
#subrayado {
  position: relative;
}

#subrayado::after {
  content: "";
  position: absolute;
  width: 100%;
  height:3px;
  background-color: #0d0c22b7;
  bottom: 0;
  left: 0;
  /* z-index: -1; */
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
  border-radius: 10px;
}

#subrayado:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}